<html>
{{#if (call 'message.getInstruction' 'toUrl')}}
	<h2><a href="{{toUrl}}">{{stream.fields.title}}</a></h2>
{{else}}
	<h2>{{streamTitleEmojiPrefix}}{{stream.fields.title}}</h2>
{{/if}}
<div>
{{interpolate messages.text.relatedTo.hasANew}}:
</div>
{{#if (call 'message.getInstruction' 'fromUrl')}}
	<h2><a href="{{fromUrl}}">{{fromTitle}}</a></h2>
{{else}}
	<h2>{{fromTitleEmojiPrefix}}{{fromTitle}}</h2>
{{/if}}
<div>
	{{interpolate messages.text.relatedTo.byAvatar this}}
</div>
<hr>
<p>{{notifications.IfUnsubscribe}}, <a href="{{baseUrl}}/Streams/participating">{{notifications.ManageEmailSubscriptions}}</a></p>
</html>