<div class="Streams_invitation">
	<div class="{{app}}_invitation_header">
		<img src="{{toUrl 'plugins/Streams/img/invitations/header.png'}}" alt="You are invited">
	</div>
	<div class="{{app}}_invitation_member">
		Member at {{stream.fields.title}}
	</div>
	<div class="Streams_explanation">
		{{toCapitalized communityName}} is pleased to announce the launch of our new website.
		It includes a growing list of features, such as:
	</div>
	<ul>
		<li>Accessibility from your Desktop Computer, Laptop, iPad/iPod and your Mobile Smartphones</li>
		<li>Public information about {{toCapitalized communityName}}</li>
		<li>A private user account for every member</li>
		<li>By entering your email address or mobile number you will be able to receive important notifications by email or text message.</li>
	</ul>
	<div class="Streams_callToAction">
		To get started, in your web browser please <em>carefully</em> enter:<br>
		<h2><a href="{{link}}">{{link}}</a></h2>
		This code is specifically issued to you.
	</div>
</div>