<div class="Streams_login_explanation">
    <table>
        {{#if invitingUser}}
            <tr class="Streams_complete_invitingUser">
                <td><img src="{{invitingUser.icon}}/50.png" title="{{invitingUser.displayName}} icon"></td>
                <td><div>{{invitingUser.displayName}}</div><div>{{invitingUser.text}}</div></td>
            </tr>
        {{/if}}
        {{#if showStreamPreview}}
            <tr class="Streams_complete_stream">
                <td><img src="{{stream.fields.icon}}/50.png" title="{{stream.fields.title}}"></td>
                <td><div>{{stream.fields.title}}</div></td>
            </tr>
        {{/if}}
    </table>
</div>