<html>
{{call "avatar.displayName"}} left <em>{{stream.fields.title}}</em>
<hr>
<p>{{notifications.IfUnsubscribe}}, <a href="{{baseUrl}}/Streams/participating">{{notifications.ManageEmailSubscriptions}}</a></p>
</html>