<div class="Streams_invite_dialog">
    {{#if userChooser}}
        <div class='Q_tool Streams_userChooser_tool'><input name="query" value="" type="text" class="text Streams_userChooser_input" placeholder="{{text.userChooserPlaceholder}}" autocomplete="off"></div>
    {{/if}}
    <div class="Streams_invite_contacts"></div>
    {{#if isContactsPicker}}
        <button class="Q_button Streams_invite_choose_contact">{{text.chooseFromContacts}}</button>
    {{else}}
        <form class="Q_buttons Streams_invite_submit">
            <input type="text" placeholder="{{text.placeholder}}">
            <button class="Q_button">{{text.go}}</button>
        </form>
    {{/if}}
    <p>{{text.orInvite}}</p>
    <div class="Q_buttons Streams_invite_social_buttons">
        <button class="Q_button Streams_invite_button_email" data-sendBy="email">
            <div class="Streams_invite_social_icons"></div>
            <div class="Streams_invite_social_labels">{{text.email}}</div>
        </button>
        <button class="Q_button Streams_invite_button_text" data-sendBy="text">
            <div class="Streams_invite_social_icons"></div>
            <div class="Streams_invite_social_labels">{{text.text}}</div>
        </button>
        <button class="Q_button Streams_invite_button_facebook" data-sendBy="facebook">
            <div class="Streams_invite_social_icons"></div>
            <div class="Streams_invite_social_labels">{{text.facebook}}</div>
        </button>
        <button class="Q_button Streams_invite_button_twitter" data-sendBy="twitter">
            <div class="Streams_invite_social_icons"></div>
            <div class="Streams_invite_social_labels">{{text.twitter}}</div>
        </button>
    </div>
	<div class="Q_button Streams_invite_copyLink" data-sendBy="copyLink">{{copyLink}}</div>
    <div class="Q_button Streams_invite_QR" data-sendBy="QR">{{QR}}</div>
</div>