<html>
{{#if (call 'message.getInstruction' 'fromUrl')}}
	<h2><a href="{{call 'message.getInstruction' 'fromUrl'}}">{{stream.fields.title}}</a></h2>
{{else}}
	<h2>{{stream.fields.title}}</h2>
{{/if}}
<div>
has been posted to:
</div>
{{#if (call 'message.getInstruction' 'toUrl')}}
	<h2><a href="{{call 'message.getInstruction' 'toUrl'}}">{{call 'message.getInstruction' 'toTitle'}}</a></h2>
{{else}}
	<h2>{{call 'message.getInstruction' 'toTitle'}}</h2>
{{/if}}
</html>